<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Shizuku -->
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />


    <!-- System Information -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />


    <!-- Storage -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <!-- Battery -->
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!-- Network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <!-- Overlay HUD -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- Process -->
    <uses-permission
        android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />


    <!-- Logs -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />


    <!-- Notification -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />



    <!-- Detect Shizuku -->
    <queries>
        <package android:name="moe.shizuku.privileged.api" />
    </queries>



    <application

        android:name=".MeteoryApplication"

        android:allowBackup="false"

        android:dataExtractionRules="@xml/data_extraction_rules"

        android:fullBackupContent="@xml/backup_rules"

        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/Theme.MeteoryOptimizer"

        android:hardwareAccelerated="true"

        tools:targetApi="31">



        <!-- Main -->
        <activity

            android:name=".MainActivity"

            android:exported="true"

            android:windowSoftInputMode="adjustResize"

            android:screenOrientation="portrait"

            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">


            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


        </activity>




        <!-- Shizuku Provider -->

        <provider

            android:name="rikka.shizuku.ShizukuProvider"

            android:authorities="${applicationId}.shizuku"

            android:exported="false"

            android:multiprocess="true" />





        <!-- HUD -->

        <service

            android:name=".services.HudOverlayService"

            android:exported="false"

            android:foregroundServiceType="specialUse">


            <property

                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"

                android:value="hudOverlay" />


        </service>




        <!-- Gaming -->

        <service

            android:name=".services.GamingService"

            android:exported="false"

            android:foregroundServiceType="specialUse">


            <property

                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"

                android:value="gamingMonitor" />


        </service>




        <!-- Monitor -->

        <service

            android:name=".services.MonitorService"

            android:exported="false"

            android:foregroundServiceType="specialUse">


            <property

                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"

                android:value="systemMonitor" />


        </service>




        <!-- Boot -->

        <receiver

            android:name=".receivers.BootReceiver"

            android:exported="true">


            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

            </intent-filter>


        </receiver>



        <!-- Remove WorkManager duplicate -->

        <provider

            android:name="androidx.work.impl.WorkManagerInitializer"

            android:authorities="${applicationId}.workmanager-init"

            android:exported="false"

            tools:node="remove" />



    </application>

</manifest>